<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Ramon Smits : Donatings bits to programmers around the world" />
    <link href="http://feeds.feedburner.com/ramonsmits" type="application/atom+xml">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1><a href="{{ base.url }}/">RamonSmits<span>.</span>com</a></h1>
    <nav>
      <ul>
        <li><a href="{{ base.url }}/">Blog</a></li>
      </ul>
    </nav>
    {{ content }}
	<footer>
	  <p>
		Web Presence:
		<ul>
			<li><a href="http://twitter.com/ramonsmits/">Twitter</a></li>
			<li><a href="http://github.com/ramonsmits">GitHub</a></li>
			<li><a href="http://flickr.com/ramonsmits">Flickr</a></li>
			<li><a href="https://plus.google.com/u/0/107275864179177698503">Google+</a></li>
			<li><a href="http://open.spotify.com/user/ramonsmits">Spotify</a></li>
			<li><a href="https://www.facebook.com/ramon.smits">Facebook</a></li>
		</ul>
	  </p>
	</footer>
  </body>
</html>
