<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Ramon Smits : Donatings bits to programmers around the world" />
    <link href="http://feeds.feedburner.com/ramonsmits" type="application/atom+xml">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1><a href="{{ base.url }}/">RamonSmits<span>.</span>com</a></h1>
    <nav>
      <ul>
        <li><a href="{{ base.url }}/">Blog</a></li>
      </ul>
    </nav>
    {{ content }}
	<footer>
	  <p>
		Web Presence:
		<ul>
			<li><a href="http://twitter.com/ramonsmits/">Twitter</a></li>
			<li><a href="http://github.com/ramonsmits">GitHub</a></li>
			<li><a href="http://flickr.com/ramonsmits">Flickr</a></li>
			<li><a href="https://plus.google.com/u/0/107275864179177698503" rel="publisher">Google+</a></li>
			<li><a href="http://open.spotify.com/user/ramonsmits">Spotify</a></li>
			<li><a href="https://www.facebook.com/ramon.smits">Facebook</a></li>
		</ul>
	  </p>
	  <div>&copy; Ramon Smits, under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike</a> license</div>
	</footer>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37758137-1']);
	  _gaq.push(['_setDomainName', 'ramonsmits.com']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </body>
</html>
