<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Ramon Smits : Donatings bits to programmers around the world" />
    <link href="http://feeds.feedburner.com/ramonsmits" type="application/atom+xml">
	<link rel=icon href=favicon.ico sizes="16x16 32x32 48x48" type="image/vnd.microsoft.icon">
	<link rel=icon href=favicon.png sizes="16x16" type="image/png">
	<link rel=icon href=favicon-32.png sizes="32x32" type="image/png">
	<link rel=icon href=favicon-48.png sizes="48x48" type="image/png">
	<link rel=icon href=favicon-iphone.png sizes="57x57" type="image/png">
	<link rel=icon href=favicon-64.png sizes="64x64" type="image/png">
	<link rel=icon href=favicon-retina.png sizes="114x114" type="image/png">
	<link rel=icon href=favicon-128.png sizes="128x128" type="image/png">
    <title>{{ page.title }}</title>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "ccbd349c-6c44-45a6-832d-c1348def866b"});</script>
	<link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="stylesheet" href="/fc-webicons.css" type="text/css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <header>
        <nav>
            <a href="/">Home</a><a href="/archive.html">Archive</a>
            <div>
                <a href="http://feeds.feedburner.com/ramonsmits">Atom</a>
                <a href="/rss.xml" class="fc-webicon rss">RSS</a>
            </div>
        </nav>
        <h1><a href="{{ base.url }}/">RamonSmits<span>.</span>com</a></h1><span>Donatings bits to programmers around the world</span>
    </header>
    <section role="main">
    {{ content }}
    </section>
	<footer>
	  <p>
		Web Presence:
		<ul>
			<li><a href="http://twitter.com/ramonsmits/" class="fc-webicon twitter">Twitter</a></li>
			<li><a href="skype:ramon.smits" class="fc-webicon skype">Skype</a></li>
			<li><a href="http://github.com/ramonsmits" class="fc-webicon github">GitHub</a></li>
			<li><a href="http://flickr.com/ramonsmits" class="fc-webicon flickr">Flickr</a></li>
			<li><a href="https://plus.google.com/u/0/107275864179177698503" rel="publisher" class="fc-webicon googleplus">Google+</a></li>
			<li><a href="http://open.spotify.com/user/ramonsmits" class="fc-webicon spotify">Spotify</a></li>
			<li><a href="https://www.facebook.com/ramon.smits" class="fc-webicon facebook">Facebook</a></li>
			<li><a href="http://youtube.com/exyll" class="fc-webicon youtube">YouTube</a></li>
		</ul>
	  </p>
	  <p>&copy; Ramon Smits, under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike</a> license</p>
	</footer>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37758137-1']);
	  _gaq.push(['_setDomainName', 'ramonsmits.com']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
    <script type="text/javascript" src="/main.js"></script>
    <script type="text/javascript">
	    var myTabs = new tabs(document.getElementById("tabs"), "article", "h2").responsive("myTabs", {
		    	prev: "Previous",
		    	next: "Next"
		    });
	</script>
  </body>
</html>
